<template lang="html">
  <div class="inner-content">
    <div class="bx_title">
      <nuxt-link
        to="/"
        class="btn_back">
        <i class="fas fa-chevron-circle-left" />
      </nuxt-link>
      <h2 class="title is-4">Autos Nuevos</h2>
    </div>
    <div class="inner-scroll">
      <div class="autos-nuevos">
        <div class="category">
          <h3 class="title is-5">Autos</h3>
          <div class="auto">
            <nuxt-link to="/autos/jaguar-xe">
              <div class="bx_header">2018</div>
              <div class="car_name">Jaguar XE</div>
              <div class="photo">
                <img src="/images/autos/xe.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/jaguar-xf">
              <div class="bx_header">2018</div>
              <div class="car_name">Jaguar XF</div>
              <div class="photo">
                <img src="/images/autos/xf.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/jaguar-xj">
              <div class="bx_header">2018</div>
              <div class="car_name">Jaguar XJ</div>
              <div class="photo">
                <img src="/images/autos/xj.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/jaguar-e-pace">
              <div class="bx_header">2018</div>
              <div class="car_name">Jaguar E-PACE</div>
              <div class="photo">
                <img src="/images/autos/e-pace.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/jaguar-f-pace">
              <div class="bx_header">2018</div>
              <div class="car_name">Jaguar F-PACE</div>
              <div class="photo">
                <img src="/images/autos/f-pace.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/jaguar-f-type">
              <div class="bx_header">2018</div>
              <div class="car_name">Jaguar F-TYPE</div>
              <div class="photo">
                <img src="/images/autos/f-type.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/jaguar-i-pace">
              <div class="bx_header">2018</div>
              <div class="car_name">Jaguar I-PACE</div>
              <div class="photo">
                <img src="/images/autos/i-pace.png" >
              </div>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="sass" scoped>
@import "~bulma/sass/utilities/_all"
@import "assets/sass/base/color.sass"

</style>
